@use "../../styles/helpers.scss";

.a-password-input {
  display: flex;
  
  @include helpers.text-field;

  input {

    &::-ms-reveal,
    &::-ms-clear {
      display: none;
    }

    &[readonly] {
      ~ .a-password-input__icon-password {
        background-color: var(--nested-pure__enabled__default__fill, var(--plain-pure__enabled__default__fill));
        color: var(--nested-pure__enabled__default__front, var(--plain-pure__enabled__default__front));

        @media (hover: hover) {
          &:hover {
            background-color: var(--nested-pure__enabled__hovered__fill, var(--plain-pure__enabled__hovered__fill));
            color: var(--nested-pure__enabled__hovered__front, var(--plain-pure__enabled__hovered__front));
          }
        }

        &:active {
          background-color: var(--nested-pure__enabled__pressed__fill, var(--plain-pure__enabled__pressed__fill));
          color: var(--nested-pure__enabled__pressed__front, var(--plain-pure__enabled__pressed__front));
        }

        &:focus {
          color: var(--nested-minor__enabled__default__front, var(--accent-minor__enabled__default__front));
        }
      }
    }
  }
}