@use "../../styles/helpers.scss";

.m-video {
  display: flex;
  flex-wrap: wrap;

  video {
    width: 100%;

    &:focus-visible {
      @include helpers.focus-outside;
    }
  }

  &__controls {
    display: flex;
    flex-wrap: wrap;
    padding-inline: 0.5rem;
    width: 100%;
    direction: ltr;
  }

  &__play-button,
  &__pause-button {
    display: none;
  }

  &__play-button.-show,
  &__pause-button.-show {
    display: inline-flex;
  }

  &__timeDisplay {
    align-items: center;
    display: flex;
    padding-block: 0;
    padding-inline: 1rem;
  }

  &__timeline {
    padding-inline: 1rem;
    flex: 1;
  }

  &__volume-controllers {
    position: relative;
  }

  &__volume-high-button,
  &__volume-disabled-button {
    display: none;
  }

  &__volume-high-button.-show,
  &__volume-disabled-button.-show {
    display: inline-flex;
  }

  &__volume-slider {
    position: absolute;
    z-index: 99;
    inset-block-end: 5.65rem;
    cursor: pointer;
    display: none;
    inset-inline-start: -2.65625rem;
    padding-block: 1rem;
    padding-inline: 0.75rem;

    input {
      cursor: pointer;
      width: 6.75rem;
    }

    &.-show {
      display: flex;
    }
  }

  &__subtitles-button,
  &__subtitles-off-button {
    display: none;
  }

  &__subtitles-button.-show,
  &__subtitles-off-button.-show {
    display: inline-flex;
  }

  &__settings-controllers {
    position: relative;
  }

  &__settings-flyout {
    position: absolute;
    inset-block-end: 3rem;
    inset-inline-end: 0;
    display: none;
    min-width: 15rem;
    padding: 1rem;
    gap: 0.5rem;

    &.-show {
      display: block;
    }

    .a-button {
      display: flex;
      justify-content: space-between;
      width: 100%;
    }

    .a-button__label,
    .a-button__icon {
      margin: 0;
      padding: 0;
    }

    .a-button__icon {
      order: 1;
    }

    .a-button.a-button--integrated:focus-visible {
      @include helpers.focus-outside;
    }
  }

  &__setting {
    width: 100%;

    a {
      display: flex;
      justify-content: space-between;
    }
  }

  &__options {
    position: absolute;
    inset-block-end: 3rem;
    inset-inline-end: 0;
    display: none;
    margin: 0;
    min-width: 15rem;
    overflow: auto;
    padding: 1rem;

    &.-show {
      display: block;
    }

    li {
      margin-block-end: 0.625rem;
      padding: 0;

      &::before {
        content: '';
      }

      .a-button .a-button__label {
        padding: 0;
      }

      &:last-child {
        margin-block-end: 0;
      }
    }

    .a-button.a-button--integrated:focus-visible {
      @include helpers.focus-outside
    }
  }

  &__download-go-back-button,
  &__playback-rate-go-back-button {
    display: flex;
    width: 100%;

    .a-icon {
      position: relative;
      inset-inline-start: -0.5rem;
      padding: 0;
    }
  }

  &__playback-rate-go-back-button .a-icon {
    margin-inline-end: 0.25rem;
  }

  &__playback-rate-option {
    display: flex;
    width: 100%;

    span {
      display: flex;
      width: 100%;
    }

    .m-video__playback-rate-checkmark {
      flex: 1;
      margin-inline-end: 0.5rem;
      visibility: hidden;

      &.active-rate {
        visibility: visible;
      }
    }
  }

  &__caption {
    @include helpers.text-regular;
    @include helpers.size-s;

    margin-block: 0.5rem 0;
    margin-inline: 0;
    width: 100%;
  }
}
