@use "../../styles/helpers.scss";

/* stylelint-disable max-nesting-depth */
/* stylelint-disable no-descending-specificity */
/* stylelint-disable a11y/no-display-none */
.m-side-navigation {
  position: fixed;
  height: 100%;
  min-height: 100vh;
  overflow: scroll;
  left: 0;
  top: 0;
  width: 0;
  transition: 125ms width helpers.$default-transition-easing;

  // remove visible scroll bars
  -ms-overflow-style: none;
  scrollbar-width: none; 
  &::-webkit-scrollbar {
    display: none;
  }

  // Reset
  ul {
    margin-bottom: 0;
  }

  a,
  a:visited {
    text-decoration: none;
  }

  /* App's name and Open / Close button */
  &__header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    position: relative;

    &__label {
      display: none;
      padding: 0.5rem 1.25rem 0.5rem 1rem;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    &__trigger {
      display: flex;
      position: relative;

      @media (hover: hover) {
        &:hover {
          background-color: var(--nested-pure__enabled__hovered__fill, var(--plain-pure__enabled__hovered__fill));
          color: var(--nested-pure__enabled__hovered__front, var(--plain-pure__enabled__hovered__front));
        }
      }

      &:active {
        background-color: var(--nested-pure__enabled__pressed__fill, var(--plain-pure__enabled__pressed__fill));
        color: var(--nested-pure__enabled__pressed__front, var(--plain-pure__enabled__pressed__front));
      }

      &:focus-visible {
        @include helpers.focus-inside;
      }

      &.-close {
        display: none;
      }
    }
  }

  &:not(.-open) .a-menu-item {
    &__link,
    &__button,
    &__group {
      column-gap: 0;
      padding-inline-end: 0.75rem;
    }

    &__group .a-icon.ui-ic-down-small {
      display: none;
    }
  }

  /* reset of border radius design tokens, as the menu group is not the most parent element*/
  > .m-menu-group > .a-menu-item:first-child > .a-menu-item__wrapper,
  > .m-menu-group > .a-menu-item:last-child > .a-menu-item__wrapper {
    border-radius: 0;

    &:has( > *:focus-visible):first-child::before,
    &:has( > *:focus-visible):first-child::after {
      border-radius: 0;
    }
  }

  /* First Level Section */
  &__menuItems {
    padding: 0;

    .m-side-navigation__menuSubitems {
      display: none;
      padding: 0;
    }
  }

  // When the menu is open.
  // Classes Logic:
  // -opening = Menu is opening / the transition is happening.
  // -open = Menu is open / the transition has ended.
  &.-opening,
  &.-open {
    width: 100vw;

    .m-side-navigation {
      &__header {
        &__label {
          display: flex;
          column-gap: 1rem;
        }

        &__trigger {
          &.-open {
            display: none;
          }

          &.-close {
            display: flex;
          }
        }
      }

      &__menuSubitems {
        width: 100%;
      }
    }
  }

  .a-menu-item__wrapper.-open {
    + .m-side-navigation__menuSubitems {
      display: flex;
      flex-direction: column;
      padding: 0;
      width: 100%;
    }
  }
}

@include helpers.tablet-and-up {
  .m-side-navigation.-open,
  .m-side-navigation.-opening {
    width: helpers.$m-side-navigation--open-width;
  }
}

@include helpers.large-desktop-and-up {
  .m-side-navigation {
    width: 3rem;
  }
}
/* stylelint-enable a11y/no-display-none */
/* stylelint-enable no-descending-specificity */
/* stylelint-enable max-nesting-depth */
