@use "./focus-state.mixin.scss" as focus;

@mixin read-only-styles {
  background-color: var(--nested-pure__enabled__default__fill, var(--plain-pure__enabled__default__fill));
  color: var(--nested-pure__enabled__default__front, var(--plain-pure__enabled__default__front));
  pointer-events: none;

  &::placeholder {
    color: var(--nested-pure__enabled__default__front, var(--plain-pure__enabled__default__front));
  }
}

/*
This mixin contains all basic styles for a text field.
The following input components are using this mixin:
inputText, inputEmail, inputPassword, inputTelephone, inputSearch,
inputValueModificator, inputTime, inputWeek, inputMonth, inputDate, inputDatetime
*/
@mixin text-field {
  position: relative;
  height: 3rem;
  width: auto;
  border-radius: var(--comp__text-field__border-radius__container);
  overflow: hidden;

  input {
    color: var(--nested-minor__enabled__default__front, var(--base-minor__enabled__default__front));
    background-color: var(--nested-minor__enabled__default__fill, var(--base-minor__enabled__default__fill));
    border: none;
    border-bottom: 0.0625rem solid var(--nested-minor__enabled__default__front, var(--base-minor__enabled__default__front));
    height: 3rem;
    padding: 0 1rem;
    width: 100%;

    @media (hover: hover) {
      &:hover[readonly] {
        @include read-only-styles();
      }
    }

    &[readonly],
    &:active[readonly],
    &:focus[readonly],
    &:disabled[readonly] {
      @include read-only-styles();
    }

    &::placeholder {
      color: var(--nested-minor__enabled__default__front, var(--base-minor__enabled__default__front));
      opacity: 0.5;
    }

    @media (hover: hover) {
      &:hover {
        background-color: var(--nested-minor__enabled__hovered__fill, var(--base-minor__enabled__hovered__fill));
        color: var(--nested-minor__enabled__hovered__front, var(--base-minor__enabled__hovered__front));
        cursor: text;
      }
    }

    &:active {
      background-color: var(--nested-minor__enabled__pressed__fill, var(--base-minor__enabled__pressed__fill));
      color: var(--nested-minor__enabled__pressed__front, var(--base-minor__enabled__pressed__front));
      cursor: text;
    }

    &:focus {
      background-color: var(--nested-minor__enabled__default__fill, var(--accent-minor__enabled__default__fill));
      border-bottom-color: var(--nested-minor__enabled__default__front, var(--accent-minor__enabled__default__front));
      cursor: text;
    }

    &:focus-visible {
      border: 0.1875rem solid var(--nested-pure__enabled__default__front, var(--plain-pure__enabled__default__front));
      outline: 0.1875rem solid var(--background);
      outline-offset: -0.375rem;
      padding-inline: 0.8125rem;
      padding-block-end: 0.0625rem;
    }

    &:disabled {
      border-bottom-color: var(--nested-minor__disabled__default__front, var(--base-minor__disabled__default__front));
      background-color: var(--nested-minor__disabled__default__fill, var(--base-minor__disabled__default__fill));
      color: var(--nested-minor__disabled__default__front, var(--base-minor__disabled__default__front));
      pointer-events: none;

      &::placeholder {
        color: var(--nested-minor__disabled__default__front, var(--base-minor__disabled__default__front));
      }
    }
  }

  label {
    position: absolute;
    margin-block: 0.25rem auto;
    margin-inline: 1rem;
    font-size: 0.75rem;
    max-width: calc(100% - 5rem);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    &:has(~ input:disabled) {
      color: var(--nested-minor__disabled__default__front, var(--base-minor__disabled__default__front));
    }

    +input {
      padding-block-start: 1.125rem;
      padding-block-end: 0.3125rem;

      &:focus-visible {
        padding-block-end: 0.375rem;
      }
    }
  }

  &__icon-password,
  &__icon-close,
  &__icon-search,
  &__minus-button,
  &__plus-button,
  &__button {
    color: var(--nested-minor__enabled__default__front, var(--base-minor__enabled__default__front));
    background-color: var(--nested-minor__enabled__default__fill, var(--base-minor__enabled__default__fill));
    width: 3rem;
    height: 3rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-bottom: 0.0625rem solid var(--nested-minor__enabled__default__front, var(--base-minor__enabled__default__front));

    @media (hover: hover) {
      &:hover {
        background-color: var(--nested-minor__enabled__hovered__fill, var(--base-minor__enabled__hovered__fill));
      }
    }

    &:active {
      background-color: var(--nested-minor__enabled__pressed__fill, var(--base-minor__enabled__pressed__fill));
    }

    &:focus-visible {
      @include focus.focus-inside;
    }

    &:disabled {
      color: var(--nested-minor__disabled__default__front, var(--base-minor__disabled__default__front));
      border-bottom-color: var(--nested-minor__disabled__default__front, var(--base-minor__disabled__default__front));
      background-color: var(--nested-minor__disabled__default__fill, var(--base-minor__disabled__default__fill));
      pointer-events: none;
    }
  }
}