@use "../../styles/helpers.scss";

.a-file-upload-input {
  align-items: center;
  display: flex;

  label {
    background-color: var(--nested-pure__enabled__default__fill, var(--accent-pure__enabled__default__fill));
    border: 0.0625rem solid var(--nested-pure__enabled__default__front, var(--accent-pure__enabled__default__front));
    color: var(--nested-pure__enabled__default__front, var(--accent-pure__enabled__default__front));
    cursor: pointer;
    display: inline-flex;
    font-size: 1rem;
    padding: 0.6875rem 0.9375rem;

    .a-icon {
      padding-inline-end: 0.75rem;
    }

    @media (hover: hover) {
      &:hover {
        background-color: var(--nested-pure__enabled__hovered__fill, var(--accent-pure__enabled__hovered__fill));
        border-color: var(--nested-pure__enabled__hovered__front, var(--accent-pure__enabled__hovered__front));
        color: var(--nested-pure__enabled__hovered__front, var(--accent-pure__enabled__hovered__front));
      }
    }

    &:active {
      background-color: var(--nested-pure__enabled__pressed__fill, var(--accent-pure__enabled__pressed__fill));
      border-color: var(--nested-pure__enabled__pressed__front, var(--accent-pure__enabled__pressed__front));
      color: var(--nested-pure__enabled__pressed__front, var(--accent-pure__enabled__pressed__front));
    }
  }

  &.-focus-visible {
    @include helpers.focus-outside;
  }

  &--disabled {
    color: var(--nested-pure__disabled__default__front, var(--accent-pure__disabled__default__front));
    pointer-events: none;

    label {
      border: 0.0625rem solid var(--nested-pure__disabled__default__front, var(--accent-pure__disabled__default__front));
      color: var(--nested-pure__disabled__default__front, var(--accent-pure__disabled__default__front));
    }
  }

  input[type='file'] {
    height: 0;
    opacity: 0;
    width: 0;
    -moz-appearance: none;
  }

  &__preview {
    margin-inline-start: 1rem;

    p {
      margin-block: 0.75rem;
    }
  }
}
