.a-badge {
  align-items: center;
  border-radius: 0.5rem;
  display: inline-flex;
  font-size: 0.75rem;
  height: 1rem;
  justify-content: center;
  min-width: 1rem;
  padding-inline: 0.25rem;
  background-color: var(--nested-major__enabled__default__fill, var(--signal-note-major__enabled__default__fill));
  color: var(--nested-major__enabled__default__front, var(--signal-note-major__enabled__default__front));

  &[data-count="1"],
  &.-single-char {
    padding-inline: .125rem;
  }

  &.-l {
    border-radius: 0.75rem;
    height: 1.5rem;
    min-width: 1.5rem;
    padding-inline: 0.5rem;

    &[data-count="1"],
    &.-single-char {
      padding-inline: .25rem;
    }
  }

  &.-xl {
    border-radius: 1rem;
    height: 2rem;
    min-width: 2rem;
    font-size: 1rem;
    /* adapted padding, see ticket FROK-696 */
    padding-inline: .69rem;

    &[data-count="1"],
    &.-single-char {
      padding-inline: .5rem;
    }
  }

  &.-success {
    background-color: var(--nested-major__enabled__default__fill, var(--signal-success-major__enabled__default__fill));
    color: var(--nested-major__enabled__default__front, var(--signal-success-major__enabled__default__front));
  }

  &.-warning {
    background-color: var(--nested-major__enabled__default__fill, var(--signal-warning-major__enabled__default__fill));
    color: var(--nested-major__enabled__default__front, var(--signal-warning-major__enabled__default__front));
  }

  &.-error {
    background-color: var(--nested-major__enabled__default__fill, var(--signal-error-major__enabled__default__fill));
    color: var(--nested-major__enabled__default__front, var(--signal-error-major__enabled__default__front));
  }

  &.-emphasis-00 {
    background-color: var(--nested-major__enabled__default__fill, var(--emphasis-00-major__enabled__default__fill));
    color: var(--nested-major__enabled__default__front, var(--emphasis-00-major__enabled__default__front));
  }

  &.-emphasis-01 {
    background-color: var(--nested-major__enabled__default__fill, var(--emphasis-01-major__enabled__default__fill));
    color: var(--nested-major__enabled__default__front, var(--emphasis-01-major__enabled__default__front));
  }

  &.-emphasis-03 {
    background-color: var(--nested-major__enabled__default__fill, var(--emphasis-03-major__enabled__default__fill));
    color: var(--nested-major__enabled__default__front, var(--emphasis-03-major__enabled__default__front));
  }

  &.-emphasis-02 {
    background-color: var(--nested-major__enabled__default__fill, var(--emphasis-02-major__enabled__default__fill));
    color: var(--nested-major__enabled__default__front, var(--emphasis-02-major__enabled__default__front));
  }

  &.-emphasis-04 {
    background-color: var(--nested-major__enabled__default__fill, var(--emphasis-04-major__enabled__default__fill));
    color: var(--nested-major__enabled__default__front, var(--emphasis-04-major__enabled__default__front));
  }

  &.-s {
    border-radius: 0;
    height: 1rem;
    min-width: auto;
    padding: 0;
    background-color: unset;
    color: var(--nested-pure__enabled__default__front, var(--plain-pure__enabled__default__front));

    .a-badge-dot {
      border-radius: 0.25rem;
      height: 0.5rem;
      width: 0.5rem;
      background-color: var(--nested-major__enabled__default__fill, var(--signal-note-major__enabled__default__fill));
    }

    .a-badge-label {
      padding-inline: 0.25rem 0;
    }

    &.-left {
      flex-direction: row-reverse;

      .a-badge-label {
        padding-inline: 0 0.25rem;
      }
    }

    &.-success {
      .a-badge-dot {
        background-color: var(--nested-major__enabled__default__fill, var(--signal-success-major__enabled__default__fill));
      }
    }

    &.-warning {
      .a-badge-dot {
        background-color: var(--nested-major__enabled__default__fill, var(--signal-warning-major__enabled__default__fill));
      }
    }

    &.-error {
      .a-badge-dot {
        background-color: var(--nested-major__enabled__default__fill, var(--signal-error-major__enabled__default__fill));
      }
    }

    &.-emphasis-00 {
      .a-badge-dot {
        background-color: var(--nested-major__enabled__default__fill, var(--emphasis-00-major__enabled__default__fill));
      }
    }

    &.-emphasis-01 {
      .a-badge-dot {
        background-color: var(--nested-major__enabled__default__fill, var(--emphasis-01-major__enabled__default__fill));
      }
    }

    &.-emphasis-02 {
      .a-badge-dot {
        background-color: var(--nested-major__enabled__default__fill, var(--emphasis-02-major__enabled__default__fill));
      }
    }

    &.-emphasis-03 {
      .a-badge-dot {
        background-color: var(--nested-major__enabled__default__fill, var(--emphasis-03-major__enabled__default__fill));
      }
    }

    &.-emphasis-04 {
      .a-badge-dot {
        background-color: var(--nested-major__enabled__default__fill, var(--emphasis-04-major__enabled__default__fill));
      }
    }
  }
}
