@use "../../styles/helpers.scss";

@mixin tooltip--success {
  background-color: var(--signal-success-minor__enabled__default__fill);
  color: var(--signal-success-minor__enabled_default__front);
}

@mixin tooltip--warning {
  background-color: var(--signal-warning-minor__enabled__default__fill);
  color: var(--signal-warning-minor__enabled__default__front);
}

@mixin tooltip--error {
  background-color: var(--signal-error-minor__enabled__default__fill);
  color: var(--signal-error-minor__enabled__default__front);
}

@mixin tooltip--fixed-width {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 10rem;
}

@mixin tooltip--dynamic-width {
  max-width: none;
}

@mixin tooltip {
  display: inline-block;
  z-index: 1;
  max-width: 16rem;
  padding: 0.25rem 0.75rem;
  color: var(--floating-color);
  background-color: var(--background);
  border-radius: var(--comp__tooltip__border-radius__container);

  &.a-tooltip--success {

    @include tooltip--success;
  }

  &.a-tooltip--warning {

    @include tooltip--warning;
  }

  &.a-tooltip--error {

    @include tooltip--error;
  }

  &.a-tooltip.-dynamic-width {

    @include tooltip--dynamic-width;
  }

  &.a-tooltip.-fixed-width {

    @include tooltip--fixed-width;
  }
}


.a-tooltip {

  @include tooltip;
  @include helpers.floating-outline;
}

[data-tooltip] {
  position: relative;
}

/* stylelint-disable-next-line a11y/content-property-no-static-value */
@media (hover: hover) {
  [data-tooltip]:hover::before {

    @include tooltip;
    @include helpers.box-shadow-s;

    position: absolute;
    bottom: 100%;
    left: -0.875rem;
    content: attr(data-tooltip);
  }

  [data-tooltip][data-tooltip-width='fixed']:hover::before {

    @include tooltip--fixed-width;
  }

  [data-tooltip][data-tooltip-width='dynamic']:hover::before {

    @include tooltip--dynamic-width;
  }

  [data-tooltip][data-tooltip-type='success']:hover::before {

    @include tooltip--success;
  }

  [data-tooltip][data-tooltip-type='warning']:hover::before {

    @include tooltip--warning;
  }

  [data-tooltip][data-tooltip-type='error']:hover::before {

    @include tooltip--error;
  }
}

