@use "../../styles/helpers.scss";

.a-rating {
  width: auto;
  display: flex;

  .a-rating__star-container {
    display: inline-flex;
    align-items: center;
  }

  .a-rating__label-container {
    display: flex;

    span {
      text-decoration: none;
    }
  }

  // star button styling
  .a-icon {
    cursor: pointer;
    color: var(--nested-major__enabled__default__fill, var(--emphasis-01-major__enabled__default__fill));
    margin-right: unset;
  }

  @media (hover: hover) {
    &:hover {
      .a-icon {
        color: var(--nested-major__enabled__hovered__fill, var(--emphasis-01-major__enabled__hovered__fill));
      }
    }
  }

  &:active {
    .a-icon {
      color: var(--nested-major__enabled__pressed__fill, var(--emphasis-01-major__enabled__pressed__fill));
    }
  }

  &--selection input:focus-visible + .a-icon {
    @include helpers.focus-outside;

    border-radius: 50%;
    --focus-border-radius: 50%;
  }

  &__label {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: bold;

    &--complete {
      font-weight: normal;
    }
  }

  &--large {
    .a-rating__star-container {
      gap: 0.7rem;
    }

    .a-rating__label-container {
      margin-left: .7rem;
      column-gap: .5rem;
    }

    .a-icon {
      font-size: 2rem;
    }

    .a-rating__label {
      @include helpers.size-xl;
    }
  }

  &--small {
    .a-rating__star-container {
      gap: 0.125rem;
    }

    .a-rating__label-container {
      margin-left: .25rem;
      column-gap: .25rem;
    }

    .a-icon {
      font-size: 1rem;
    }

    .a-rating__label {
      @include helpers.size-s;
    }
  }

  &--link {
    cursor: pointer;

    a {
      display: flex;
      text-decoration: none;
    }

    .a-rating__label {
      color: var(--nested-pure__enabled__default__front, var(--plain-pure__enabled__default__front));
    }

    label {
      pointer-events: none;
    }
  }

  &--disabled {
    pointer-events: none;

    .a-icon {
      color: var(--nested-pure__disabled__default__front, var(--plain-pure__disabled__default__front));
    }

    @media (hover: hover) {
      &:hover {
        .a-icon {
          color: var(--nested-pure__disabled__default__front, var(--plain-pure__disabled__default__front));
        }
      }
    }
  }

  label {
    display: flex;
  }

  // hide input radio
  input[type='radio'] {
    position: absolute;
    z-index: -1;
    opacity: 0;
  }
}
