@use "../../styles/helpers.scss";
@use "../header/parts/supergraphic.scss";
/* stylelint-disable selector-max-id */

.o-minimal-header {
  position: fixed;
  z-index: 3;
  width: 100%;

  @include supergraphic.supergraphic-padding;

  + .m-side-navigation {
    z-index: 3;
    // reduce max height with the amount of the supergraphic, to ensure smooth scrolling
    height: calc(100% - var(--comp__header__supergraphic-offset));
    min-height: calc(100vh - var(--comp__header__supergraphic-offset));

    @include supergraphic.supergraphic-margin;

    &.-opening,
    &.-open {
      max-width: 100%;
    }
  }

  &__supergraphic {
    @include supergraphic.supergraphic;
  }

  &__top {
    height: 3rem;
    border-bottom: 0.0625rem solid var(--nested-major__enabled__default__fill, var(--base-major__enabled__default__fill));
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  &__logo {
    width: 8.75rem;
    height: 3rem;
    padding: 0.75rem 0.9375rem 0.75rem 1rem;
    display: none;
    order: 2;

    #bosch-logo-text {
      fill: #ea0016;

      .-dark-mode & {
        fill: var(--nested-pure__enabled__default__front, var(--plain-pure__enabled__default__front));
      }
    }

    #bosch-logo-anker {
      fill: var(--nested-pure__enabled__default__front, var(--plain-pure__enabled__default__front));
    }

    &:focus-visible {
      @include helpers.focus-inside;
    }
  }

  // Reset
  &__actions {
    margin-bottom: 0;
    padding: 0;

    li {
      /* stylelint-disable-next-line a11y/content-property-no-static-value */
      &::before {
        content: none;
      }

      padding: 0;
      margin: 0;
    }

    display: none;

    .a-button__label {
      white-space: nowrap;
    }
  }

  &__title {
    flex: 0 1 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    @include helpers.size-m;

    font-weight: bold;
  }

  + .e-container {
    margin: 0 auto;
    max-width: 25rem;
  }
}

@include helpers.tablet-and-up {
  .o-minimal-header {
    &__actions {
      display: flex;
      margin-right: 1rem;
      margin-left: 1rem;
    }

    &__falafel {
      display: none;
    }

    &__logo {
      display: block;
    }

    &__title {
      @include helpers.size-l-bold;
    }

    &:has(+ .m-side-navigation.-opening),
    &:has(+ .m-side-navigation.-open) {
      /* stylelint-disable-next-line selector-max-compound-selectors */
      .o-minimal-header__top {
        /* stylelint-disable-next-line selector-max-compound-selectors */
        .o-minimal-header__actions {
          display: none;
        }

        /* stylelint-disable-next-line selector-max-compound-selectors */
        .o-minimal-header__falafel {
          display: block;
          order: 1;
          margin-right: 1rem;
        }
      }
    }

    + .e-container {
      max-width: 35rem;
    }
  }
}

@include helpers.large-desktop-and-up {
  .o-minimal-header {
    &__title {
      margin-inline-start: 5rem ;
    }

    &__burger {
      display: none;
    }

    &__top {
      transition: helpers.$default-transition-timing padding helpers.$default-transition-easing;
    }

    &:has(+ .m-side-navigation.-opening),
    &:has(+ .m-side-navigation.-open) {
      /* stylelint-disable-next-line selector-max-compound-selectors */
      .o-minimal-header__top {
        // the burger (48px) should still be hidden below the side navigation
        padding-left: helpers.$m-side-navigation--open-width - 3rem;

        /* stylelint-disable-next-line selector-max-compound-selectors */
        .o-minimal-header__actions {
          display: flex;
        }

        /* stylelint-disable-next-line selector-max-compound-selectors */
        .o-minimal-header__falafel {
          display: none;
        }
      }
    }

    + .e-container {
      max-width: 50rem;
    }
  }
}
