.a-image {
  display: block;
  margin: 0;

  &__ratioWrapper {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
    border-radius: var(--comp__image__border-radius__container);
  }

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    display: block;
    overflow: hidden;
  }

  figcaption {
    margin-top: 0.5rem;
    letter-spacing: 0;
  }
}
