@use "../../styles/helpers.scss";

@mixin floating-button-group-divider {
  position: absolute;
  inset-block-start: 0rem;
  content: '';
  height: 100%;
  width: 0.0625rem;
}

.m-floating-button-group {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  column-gap: 0.0625rem;
  border-radius: 2rem;
  width: max-content;

  .a-button {
    position: relative;
    border-radius: unset;

    &::after {
      --focus-border-radius: 0rem;
    }
  }

  @media (hover: hover) {
    .a-button:hover {
      z-index: 1;
    }
  }

  .a-button:focus-visible {
    z-index: 1;
  }

  > .a-button:first-child {
    border-start-start-radius: 2rem;
    border-end-start-radius: 2rem;

    &::after {
      --focus-border-start-start-radius: 2rem;
      --focus-border-end-start-radius: 2rem;
    }
  }

  > .a-button:last-child {
    border-start-end-radius: 2rem;
    border-end-end-radius: 2rem;

    &::after {
      --focus-border-start-end-radius: 2rem;
      --focus-border-end-end-radius: 2rem;
    }
  }

  > .a-button:not(:last-child) {
    &::before {
      @include floating-button-group-divider();
      inset-inline-end: -0.0625rem;
    }
  }

  &:has(> .a-button[class*="-secondary"]) {
    gap: unset;
  }

  > .a-button[class*="-secondary"] {
    &:not(:first-child) {
      margin-inline-start: -0.0625rem;
    }

    &::before {
      content: unset;
    }
  }

  // OVERWRITES for spacing in floating state
  .a-button__icon,
  .a-button__label,
  .a-button__icon:only-child,
  .a-button__label:only-child {
    padding-block: calc(1rem - var(--border-size));
  }

  // icon + label variant
  // middle item
  .a-button__icon {
    padding-inline: calc(1rem - var(--border-size)) 0.5rem;
  }

  .a-button__label {
    padding-inline: 0 calc(1rem - var(--border-size));
  }

  // first item
  > :first-child {
    .a-button__icon {
      padding-inline: calc(1.25rem - var(--border-size)) 0.5rem;
    }

    .a-button__label {
      padding-inline: 0 calc(1rem - var(--border-size));
    }
  }

  // last item
  > :last-child {
    .a-button__icon {
      padding-inline: calc(1rem - var(--border-size)) 0.5rem;
    }

    .a-button__label {
      padding-inline: 0 calc(1.5rem - var(--border-size));
    }
  }

  // exactly one item
  > :only-child {
    .a-button__icon {
      padding-inline: calc(1.25rem - var(--border-size)) 0.5rem;
    }

    .a-button__label {
      padding-inline: 0 calc(1.5rem - var(--border-size));
    }
  }

  // label only variant & icon only variant
  // middle item
  .a-button__icon:only-child,
  .a-button__label:only-child {
    padding-inline: calc(1rem - var(--border-size));
  }

  // first item
  > :first-child {
    .a-button__icon:only-child {
      padding-inline: calc(1.25rem - var(--border-size)) calc(1rem - var(--border-size));
    }

    .a-button__label:only-child {
      padding-inline: calc(1.5rem - var(--border-size)) calc(1rem - var(--border-size));
    }
  }

  // last item
  > :last-child {
    .a-button__icon:only-child {
      padding-inline: calc(1rem - var(--border-size)) calc(1.25rem - var(--border-size));
    }

    .a-button__label:only-child {
      padding-inline: calc(1rem - var(--border-size)) calc(1.5rem - var(--border-size));
    }
  }

  // exactly one item
  > :only-child {
    .a-button__icon:only-child {
      padding: calc(1rem - var(--border-size));
    }

    .a-button__label:only-child {
      padding-inline: calc(1.5rem - var(--border-size));
    }
  }

  // remove underline from tertiary variants
  @media (hover: hover) {
    [class*="-tertiary"]:hover:not(:disabled) {
      .a-button__label {
        text-decoration: none;
      }
    }
  }

  // adjustment for floating brand tertiary variant
  [class*="brand-tertiary"] {
    background-color: var(--nested-pure__enabled__default__fill, var(--accent-pure__enabled__default__fill));

    @media (hover: hover) {
      &:hover {
        background-color: var(--nested-pure__enabled__hovered__fill, var(--accent-pure__enabled__hovered__fill));
      }
    }

    &:active {
      background-color: var(--nested-pure__enabled__pressed__fill, var(--accent-pure__enabled__pressed__fill));
    }

    &:disabled {
      background-color: var(--nested-pure__disabled__default__fill, var(--accent-pure__disabled__default__fill));
    }
  }


  // adjustment for floating neutral tertiary variant
  [class*="neutral-tertiary"] {
    background-color: var(--nested-pure__enabled__default__fill, var(--integrated-pure__enabled__default__fill));

    @media (hover: hover) {
      &:hover {
        background-color: var(--nested-pure__enabled__hovered__fill, var(--integrated-pure__enabled__hovered__fill));
      }
    }

    &:active {
      background-color: var(--nested-pure__enabled__pressed__fill, var(--integrated-pure__enabled__pressed__fill));
    }

    &:disabled {
      background-color: var(--nested-pure__disabled__default__fill, var(--integrated-pure__disabled__default__fill));
    }
  }

  // adjustment for floating destructive tertiary variant
  [class*="destructive-tertiary"] {
    background-color: var(--nested-pure__enabled__default__fill, var(--signal-error-pure__enabled__default__fill));

    @media (hover: hover) {
      &:hover {
        background-color: var(--nested-pure__enabled__hovered__fill, var(--signal-error-pure__enabled__hovered__fill));
      }
    }

    &:active {
      background-color: var(--nested-pure__enabled__pressed__fill, var(--signal-error-pure__enabled__pressed__fill));
    }

    &:disabled {
      background-color: var(--nested-pure__disabled__default__fill, var(--signal-error-pure__disabled__default__fill));
    }
  }
  
  > .a-button {
    &--brand-primary::before {
      background-color: var(--nested-major__enabled__default__front, var(--accent-major__enabled__default__front));
    }

    &--neutral-primary::before {
      background-color: var(--nested-major__enabled__default__front, var(--integrated-major__enabled__default__front));
    }

    &--destructive-primary::before {
      background-color: var(--nested-major__enabled__default__front, var(--signal-error-major__enabled__default__front));
    }

    &--brand-secondary::before {
      background-color: var(--nested-pure__enabled__default__front, var(--accent-pure__enabled__default__front));
    }

    &--neutral-secondary::before {
      background-color: var(--nested-pure__enabled__default__front, var(--integrated-pure__enabled__default__front));
    }

    &--destructive-secondary::before {
      background-color: var(--nested-pure__enabled__default__front, var(--signal-error-pure__enabled__default__front));
    }

    &--brand-tertiary::before {
      background-color: var(--nested-pure__enabled__default__front, var(--accent-pure__enabled__default__front));
    }

    &--neutral-tertiary::before {
      background-color: var(--nested-pure__enabled__default__front, var(--integrated-pure__enabled__default__front));
    }

    &--destructive-tertiary::before {
      background-color: var(--nested-pure__enabled__default__front, var(--signal-error-pure__enabled__default__front));
    }
  }
}
