@use "../../styles/helpers.scss";

button {
  background-color: var(--nested-major__enabled__default__fill, var(--accent-major__enabled__default__fill));
  border: 0;
  color: var(--nested-major__enabled__default__front, var(--accent-major__enabled__default__front));
  cursor: pointer;
  display: inline-flex;
  letter-spacing: 0;
  padding: 0.75rem 1rem;

  &:disabled {
    cursor: default;
  }

  span {
    padding: 0;
  }
}

.a-button {
  padding: 0;
  --border-size: 0rem;
  border-radius: var(--comp__button__border-radius__container);

  &__icon + &__label {
    text-align: start;
  }

  &__icon {
    font-size: 1.5rem;
    padding-block: calc(0.75rem - var(--border-size));
    padding-inline: calc(0.75rem - var(--border-size)) 0.5rem;
  }

  &__label {
    padding-block: calc(0.75rem - var(--border-size));
    padding-inline: 0 calc(1rem - var(--border-size)) ;
  }

  // only label
  &:not(:has(.a-button__icon)) &__label {
    margin: auto;
    padding-block: calc(0.75rem - var(--border-size));
    padding-inline: calc(1rem - var(--border-size));
  }
  
  // only icon
  &:not(:has(.a-button__label)) &__icon {
    margin: auto;
    padding: calc(0.75rem - var(--border-size));
  }

  // ADJUSTMENTS -secondary
  &[class*="-secondary"] {
    --border-size: 0.0625rem;
  }

  // MODIFIER -small
  &.-small &__label {
    @include helpers.size-sm;

    padding-block: calc(0.3125rem - var(--border-size));
    padding-inline: 0 calc(0.75rem - var(--border-size));
  }

  &.-small &__icon {
    font-size: 1.375rem;
    padding-block: calc(0.3125rem - var(--border-size));
    padding-inline: calc(0.5rem - var(--border-size)) 0.375rem;
  }

  &:not(:has(.a-button__icon)).-small &__label {
    padding-block: calc(0.3125rem - var(--border-size));
    padding-inline: calc(0.75rem - var(--border-size));
  }

  &:not(:has(.a-button__label)).-small &__icon {
    padding: calc(0.3125rem - var(--border-size));
  }

  // MODIFIER -fixed
  &.-fixed {
    justify-content: center;
    width: 8rem;
  }

  &.-fixed &__label {
    display: block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  &:focus-visible {
    @include helpers.focus-outside;
    --focus-border-radius: var(--comp__button__border-radius__container);
  }

  // increase icon thickness in all icon only tertiary variants
  @media (hover: hover) {
    &[class*="brand-tertiary"],
    &[class*="neutral-tertiary"],
    &[class*="destructive-tertiary"] {
      &:hover:not(:disabled):not(:has(.a-button__label)) .a-button__icon {
        text-shadow:
        0.009375rem 0 0 currentColor,
        -0.009375rem 0 0 currentColor,
        0 0.009375rem 0 currentColor,
        0 -0.009375rem 0 currentColor;
      }
    }

    // add underline for hover on all tertiary variants for label
    &[class*="brand-tertiary"],
    &[class*="neutral-tertiary"],
    &[class*="destructive-tertiary"] {
      &:hover:not(:disabled) .a-button__label {
        text-decoration: underline;
        text-underline-offset: 0.25rem;
      }
    }
  }

  &--brand-primary {
    background-color: var(--nested-major__enabled__default__fill, var(--accent-major__enabled__default__fill));
    color: var(--nested-major__enabled__default__front, var(--accent-major__enabled__default__front));

    @media (hover: hover) {
      &:hover {
        background-color: var(--nested-major__enabled__hovered__fill, var(--accent-major__enabled__hovered__fill));
        color: var(--nested-major__enabled__hovered__front, var(--accent-major__enabled__hovered__front));
      }
    }

    &:active {
      background-color: var(--nested-major__enabled__pressed__fill, var(--accent-major__enabled__pressed__fill));
      color: var(--nested-major__enabled__pressed__front, var(--accent-major__enabled__pressed__front));
    }

    &:disabled {
      background-color: var(--nested-major__disabled__default__fill, var(--accent-major__disabled__default__fill));
      color: var(--nested-major__disabled__default__front, var(--accent-major__disabled__default__front));
    }
  }

  &--neutral-primary {
    background-color: var(--nested-major__enabled__default__fill, var(--integrated-major__enabled__default__fill));
    color: var(--nested-major__enabled__default__front, var(--integrated-major__enabled__default__front));

    @media (hover: hover) {
      &:hover {
        background-color: var(--nested-major__enabled__hovered__fill, var(--integrated-major__enabled__hovered__fill));
        color: var(--nested-major__enabled__hovered__front, var(--integrated-major__enabled__hovered__front));
      }
    }

    &:active {
      background-color: var(--nested-major__enabled__pressed__fill, var(--integrated-major__enabled__pressed__fill));
      color: var(--nested-major__enabled__pressed__front, var(--integrated-major__enabled__pressed__front));
    }

    &:disabled {
      background-color: var(--nested-major__disabled__default__fill, var(--integrated-major__disabled__default__fill));
      color: var(--nested-major__disabled__default__front, var(--integrated-major__disabled__default__front));
    }
  }

  &--destructive-primary {
    background-color: var(--nested-major__enabled__default__fill, var(--signal-error-major__enabled__default__fill));
    color: var(--nested-major__enabled__default__front, var(--signal-error-major__enabled__default__front));

    @media (hover: hover) {
      &:hover {
        background-color: var(--nested-major__enabled__hovered__fill, var(--signal-error-major__enabled__hovered__fill));
        color: var(--nested-major__enabled__hovered__front, var(--signal-error-major__enabled__hovered__front));
      }
    }

    &:active {
      background-color: var(--nested-major__enabled__pressed__fill, var(--signal-error-major__enabled__pressed__fill));
      color: var(--nested-major__enabled__pressed__front, var(--signal-error-major__enabled__pressed__front));
    }

    &:disabled {
      background-color: var(--nested-major__disabled__default__fill, var(--signal-error-major__disabled__default__fill));
      color: var(--nested-major__disabled__default__front, var(--signal-error-major__disabled__default__front));
    }
  }

  &--brand-secondary {
    &:focus-visible {
      --focus-offset-inner: 0.0625rem;
    }

    background-color: var(--nested-pure__enabled__default__fill, var(--accent-pure__enabled__default__fill));
    color: var(--nested-pure__enabled__default__front, var(--accent-pure__enabled__default__front));
    border: 0.0625rem solid var(--nested-pure__enabled__default__front, var(--accent-pure__enabled__default__front));

    @media (hover: hover) {
      &:hover {
        background-color: var(--nested-pure__enabled__hovered__fill, var(--accent-pure__enabled__hovered__fill));
        color: var(--nested-pure__enabled__hovered__front, var(--accent-pure__enabled__hovered__front));
        border-color: var(--nested-pure__enabled__hovered__front, var(--accent-pure__enabled__hovered__front));
      }
    }

    &:active {
      background-color: var(--nested-pure__enabled__pressed__fill, var(--accent-pure__enabled__pressed__fill));
      color: var(--nested-pure__enabled__pressed__front, var(--accent-pure__enabled__pressed__front));
      border-color: var(--nested-pure__enabled__pressed__front, var(--accent-pure__enabled__pressed__front));
    }

    &:disabled {
      background-color: var(--nested-pure__disabled__default__fill, var(--accent-pure__disabled__default__fill));
      color: var(--nested-pure__disabled__default__front, var(--accent-pure__disabled__default__front));
      border-color: var(--nested-pure__disabled__default__front, var(--accent-pure__disabled__default__front));
    }
  }

  &--neutral-secondary {
    &:focus-visible {
      --focus-offset-inner: 0.0625rem;
    }

    background-color: var(--nested-pure__enabled__default__fill, var(--integrated-pure__enabled__default__fill));
    color: var(--nested-pure__enabled__default__front, var(--integrated-pure__enabled__default__front));
    border: 0.0625rem solid var(--nested-pure__enabled__default__front, var(--integrated-pure__enabled__default__front));

    @media (hover: hover) {
      &:hover {
        background-color: var(--nested-pure__enabled__hovered__fill, var(--integrated-pure__enabled__hovered__fill));
        color: var(--nested-pure__enabled__hovered__front, var(--integrated-pure__enabled__hovered__front));
        border-color: var(--nested-pure__enabled__hovered__front, var(--integrated-pure__enabled__hovered__front));
      }
    }

    &:active {
      background-color: var(--nested-pure__enabled__pressed__fill, var(--integrated-pure__enabled__pressed__fill));
      color: var(--nested-pure__enabled__pressed__front, var(--integrated-pure__enabled__pressed__front));
      border-color: var(--nested-pure__enabled__pressed__front, var(--integrated-pure__enabled__pressed__front));
    }

    &:disabled {
      background-color: var(--nested-pure__disabled__default__fill, var(--integrated-pure__disabled__default__fill));
      color: var(--nested-pure__disabled__default__front, var(--integrated-pure__disabled__default__front));
      border-color: var(--nested-pure__disabled__default__front, var(--integrated-pure__disabled__default__front));
    }
  }

  &--destructive-secondary {
    &:focus-visible {
      --focus-offset-inner: 0.0625rem;
    }

    background-color: var(--nested-pure__enabled__default__fill, var(--signal-error-pure__enabled__default__fill));
    color: var(--nested-pure__enabled__default__front, var(--signal-error-pure__enabled__default__front));
    border: 0.0625rem solid var(--nested-pure__enabled__default__front, var(--signal-error-pure__enabled__default__front));

    @media (hover: hover) {
      &:hover {
        background-color: var(--nested-pure__enabled__hovered__fill, var(--signal-error-pure__enabled__hovered__fill));
        color: var(--nested-pure__enabled__hovered__front, var(--signal-error-pure__enabled__hovered__front));
        border-color: var(--nested-pure__enabled__hovered__front, var(--signal-error-pure__enabled__hovered__front));
      }
    }

    &:active {
      background-color: var(--nested-pure__enabled__pressed__fill, var(--signal-error-pure__enabled__pressed__fill));
      color: var(--nested-pure__enabled__pressed__front, var(--signal-error-pure__enabled__pressed__front));
      border-color: var(--nested-pure__enabled__pressed__front, var(--signal-error-pure__enabled__pressed__front));
    }

    &:disabled {
      background-color: var(--nested-pure__disabled__default__fill, var(--signal-error-pure__disabled__default__fill));
      color: var(--nested-pure__disabled__default__front, var(--signal-error-pure__disabled__default__front));
      border-color: var(--nested-pure__disabled__default__front, var(--signal-error-pure__disabled__default__front));
    }
  }

  &--brand-tertiary {
    background-color: transparent;
    color: var(--nested-pure__enabled__default__front, var(--accent-pure__enabled__default__front));

    @media (hover: hover) {
      &:hover {
        color: var(--nested-pure__enabled__hovered__front, var(--accent-pure__enabled__hovered__front));
      }
    }

    &:active {
      color: var(--nested-pure__enabled__pressed__front, var(--accent-pure__enabled__pressed__front));
    }

    &:disabled {
      color: var(--nested-pure__disabled__default__front, var(--accent-pure__disabled__default__front));
    }
  }

  &--neutral-tertiary {
    background-color: transparent;
    color: var(--nested-pure__enabled__default__front, var(--integrated-pure__enabled__default__front));

    @media (hover: hover) {
      &:hover {
        color: var(--nested-pure__enabled__hovered__front, var(--integrated-pure__enabled__hovered__front));
      }
    }

    &:active {
      color: var(--nested-pure__enabled__pressed__front, var(--integrated-pure__enabled__pressed__front));
    }

    &:disabled {
      color: var(--nested-pure__disabled__default__front, var(--integrated-pure__disabled__default__front));
    }
  }

  &--destructive-tertiary {
    background-color: transparent;
    color: var(--nested-pure__enabled__default__front, var(--signal-error-pure__enabled__default__front));

    @media (hover: hover) {
      &:hover {
        color: var(--nested-pure__enabled__hovered__front, var(--signal-error-pure__enabled__hovered__front));
      }
    }

    &:active {
      color: var(--nested-pure__enabled__pressed__front, var(--signal-error-pure__enabled__pressed__front));
    }

    &:disabled {
      color: var(--nested-pure__disabled__default__front, var(--signal-error-pure__disabled__default__front));
    }
  }

  // deprecated
  &--primary {
    @media (hover: hover) {
      &:hover {
        background-color: var(--nested-major__enabled__hovered__fill, var(--accent-major__enabled__hovered__fill));
      }
    }

    &:active {
      background-color: var(--nested-major__enabled__pressed__fill, var(--accent-major__enabled__pressed__fill));
    }

    &:disabled {
      background-color: var(--nested-major__disabled__default__fill, var(--accent-major__disabled__default__fill));
      color: var(--nested-major__disabled__default__front, var(--accent-major__disabled__default__front));
    }
  }

  // deprecated
  &--secondary {
    &:focus-visible {
      --focus-offset-inner: 0.0625rem;
    }

    background-color: var(--nested-pure__enabled__default__fill, var(--accent-pure__enabled__default__fill));
    color: var(--nested-pure__enabled__default__front, var(--accent-pure__enabled__default__front));
    border: 0.0625rem solid var(--nested-pure__enabled__default__front, var(--accent-pure__enabled__default__front));

    @media (hover: hover) {
      &:hover {
        background-color: var(--nested-pure__enabled__hovered__fill, var(--accent-pure__enabled__hovered__fill));
        color: var(--nested-pure__enabled__hovered__front, var(--accent-pure__enabled__hovered__front));
        border-color: var(--nested-pure__enabled__hovered__front, var(--accent-pure__enabled__hovered__front));
      }
    }

    &:active {
      background-color: var(--nested-pure__enabled__pressed__fill, var(--accent-pure__enabled__pressed__fill));
      color: var(--nested-pure__enabled__pressed__front, var(--accent-pure__enabled__pressed__front));
      border-color: var(--nested-pure__enabled__pressed__front, var(--accent-pure__enabled__pressed__front));
    }

    &:disabled {
      background-color: var(--nested-pure__disabled__default__fill, var(--accent-pure__disabled__default__fill));
      color: var(--nested-pure__disabled__default__front, var(--accent-pure__disabled__default__front));
      border-color: var(--nested-pure__disabled__default__front, var(--accent-pure__disabled__default__front));
    }
  }

  // deprecated
  &--tertiary {
    background-color: var(--nested-pure__enabled__default__fill, var(--accent-pure__enabled__default__fill));
    color: var(--nested-pure__enabled__default__front, var(--accent-pure__enabled__default__front));

    @media (hover: hover) {
      &:hover {
        background-color: var(--nested-pure__enabled__hovered__fill, var(--accent-pure__enabled__hovered__fill));
        color: var(--nested-pure__enabled__hovered__front, var(--accent-pure__enabled__hovered__front));
      }
    }

    &:active {
      background-color: var(--nested-pure__enabled__pressed__fill, var(--accent-pure__enabled__pressed__fill));
      color: var(--nested-pure__enabled__pressed__front, var(--accent-pure__enabled__pressed__front));
    }

    &:disabled {
      background-color: var(--nested-pure__disabled__default__fill, var(--accent-pure__disabled__default__fill));
      color: var(--nested-pure__disabled__default__front, var(--accent-pure__disabled__default__front));
    }
  }

  // deprecated
  &--integrated {
    &:focus-visible {
      @include helpers.focus-inside;
      --focus-border-radius: var(--comp__button__border-radius__container);
    }

    color: var(--nested-pure__enabled__default__front, var(--integrated-pure__enabled__default__front));
    background-color: transparent;

    @media (hover: hover) {
      &:hover {
        color: var(--nested-pure__enabled__hovered__front, var(--integrated-pure__enabled__hovered__front));
      }
    }

    &:active {
      color: var(--nested-pure__enabled__pressed__front, var(--integrated-pure__enabled__pressed__front));
    }

    &:disabled {
      color: var(--nested-pure__disabled__default__front, var(--integrated-pure__disabled__default__front));
    }
  }
}
