/* stylelint-disable no-descending-specificity */
.a-radio-button {
  position: relative;
  display: inline-block;

  input {
    height: 0;
    width: 0;
    opacity: 0; // Hides the input in Safari
    -moz-appearance: none; // Hides the input in Firefox
    outline: none; // Hides the input's native outline

    &:focus {
      outline: hidden;
    }

    // Outline for keyboard navigation
    &:focus-visible + label::before {
      outline: 0.1875rem solid var(--nested-pure__enabled__default__front, var(--plain-pure__enabled__default__front));
      outline-offset: 0.1875rem;
    }
    &:focus-visible + label::after {
      outline: 0.1875rem solid var(--background);
      outline-offset: 0.375rem;
    }
  }

  label {
    color: var(--nested-pure__enabled__default__front, var(--plain-pure__enabled__default__front));
    display: inline-block; // Fix for Safari to avoid multiline
    padding-inline-start: 2rem;
    line-height: 1.5;
    font-size: 1rem;
    cursor: pointer;

    &::before {
      position: absolute;
      inset-block-start: 0;
      inset-inline-start: 0;
      content: "";
      width: 1.5rem;
      height: 1.5rem;
      background-color: var(--nested-major__enabled__default__fill, var(--base-major__enabled__default__fill));
      border-radius: 0.75rem;
    }

    @media (hover: hover) {
      &:hover::before {
        background-color: var(--nested-major__enabled__hovered__fill, var(--base-major__enabled__hovered__fill));
      }
    }

    &:focus::before {
      background-color: var(--nested-major__enabled__hovered__fill, var(--base-major__enabled__hovered__fill));
    }

    &:active::before {
      background-color: var(--nested-major__enabled__pressed__fill, var(--base-major__enabled__pressed__fill));
    }
  }

  // Input is disabled
  input:disabled ~ label {
    cursor: default;
    color: var(--nested-pure__disabled__default__front, var(--plain-pure__disabled__default__front));

    &::before {
      background-color: var(--nested-major__disabled__default__fill, var(--base-major__disabled__default__fill));
    }
  }

  // Input is checked
  input:checked ~ label {
    &::before {
      background-color: var(--nested-major__enabled__default__fill, var(--accent-major__enabled__default__fill));
    }

    &::after {
      display: inline-block;
      position: absolute;
      inset-inline-start: 0.375rem;
      inset-block-start: 0.375rem;
      content: "";
      background-color: var(--nested-major__enabled__default__front, var(--accent-major__enabled__default__front));
      border-radius: 50%;
      height: 0.75rem;
      // transform-origin: top left;
      // transform: translateX(0.375rem) translateY(0.375rem);
      width: 0.75rem;
    }

    @media (hover: hover) {
      &:hover::before {
        background-color: var(--nested-major__enabled__hovered__fill, var(--accent-major__enabled__hovered__fill));
      }
    }

    &:active::before {
      background-color: var(--nested-major__enabled__pressed__fill, var(--accent-major__enabled__pressed__fill));
    }
  }

  // Input is checked and disabled
  input:checked:disabled ~ label {
    &::before {
      background-color: var(--nested-major__disabled__default__fill, var(--accent-major__disabled__default__fill));
    }

    &::after {
      background-color: var(--nested-major__disabled__default__front, var(--accent-major__disabled__default__front));
    }
  }
}
