@use "../../styles/helpers.scss";

.a-meter {
  display: flex;
  flex-direction: column;
  min-width: 8rem;

  label {
    @include helpers.size-m;

    color: var(--nested-pure__enabled__default__front, var(--plain-pure__enabled__default__front));
    margin-bottom: 0.5rem;
  }

  meter {
    background: var(--nested-pure__enabled__default__fill, var(--plain-pure__enabled__default__fill)); // Firefox fix
    border: 0; // Safari fix
    outline: 0.0625rem solid var(--nested-pure__enabled__default__front, var(--plain-pure__enabled__default__front));
    height: 0.5rem;
    width: 100%;
  }

  /* Chrome, Safari and Edge */
  ::-webkit-meter-inner-element {
    display: flex;
  }

  ::-webkit-meter-bar {
    border-radius: 0;
    border: 0;
    background: var(--nested-pure__enabled__default__fill, var(--plain-pure__enabled__default__fill));
  }

  ::-webkit-meter-even-less-good-value {
    background: var(--nested-major__enabled__default__fill, var(--signal-error-major__enabled__default__fill));
  }
  ::-webkit-meter-suboptimum-value {
    background: var(--nested-major__enabled__default__fill, var(--signal-warning-major__enabled__default__fill));
  }
  ::-webkit-meter-optimum-value {
    background: var(--nested-major__enabled__default__fill, var(--signal-success-major__enabled__default__fill));
  }

  /* Firefox (DONT TOUCH) */
  :-moz-meter-sub-sub-optimum::-moz-meter-bar {
    background: var(--nested-major__enabled__default__fill, var(--signal-error-major__enabled__default__fill));
  }
  :-moz-meter-sub-optimum::-moz-meter-bar {
    background: var(--nested-major__enabled__default__fill, var(--signal-warning-major__enabled__default__fill));
  }
  :-moz-meter-optimum::-moz-meter-bar {
    background: var(--nested-major__enabled__default__fill, var(--signal-success-major__enabled__default__fill));
  }
}
