@use "../../styles/helpers.scss";

.a-week-input {
  display: flex;
  min-width: 14rem;

  @include helpers.text-field;

  input {
    text-transform: uppercase;

    &::-webkit-datetime-edit-week-field:focus,
    &::-webkit-datetime-edit-year-field:focus {
      color: var(--nested-minor__enabled__default__front, var(--base-minor__enabled__default__front));
      background-color: var(--nested-minor__enabled__default__fill, var(--accent-minor__enabled__default__fill));
      mix-blend-mode: multiply;
    }

    &[readonly],
    &:disabled {
      +.a-week-input__button {
        display: none;
      }
    }

    &::-webkit-calendar-picker-indicator {
      display: none;
    }
  }

  @supports (-moz-appearance:none) {
    &__button {
      display: none;
    }

    label {
      max-width: calc(100% - 2rem);
    }
  }
}

/* Chrome only fix for month
  most reliable discriminator. */
@supports (-webkit-appearance: none) and (not (-moz-appearance: none)) and (not (hanging-punctuation: first)) {
  [dir="rtl"] input[type="week"] {
    text-align: end;
  }
}