@use "../../../styles/helpers.scss";

/* stylelint-disable max-nesting-depth, selector-max-compound-selectors, selector-max-id */
.o-header {
  &__logo {
    height: 3rem;
    width: 8.75rem;
    // this defines the logo's safe zone at this size; any change in dimension also needs to update this.
    padding: 0.75rem 0.9375rem 0.75rem 1rem;
    // we can, however, bank on the 1rem margin already there in the header and save some space
    margin-left: -1rem;
    // same with the padding around the integrated-button icon to the right
    margin-right: -0.9375rem;
    outline-offset: -0.125rem;

    svg {
      height: 100%;
      width: auto;

      #bosch-logo-text {
        fill: #ea0016;

        .-dark-mode & {
          fill: var(--nested-pure__enabled__default__front, var(--plain-pure__enabled__default__front));
        }
      }

      #bosch-logo-anker {
        fill: var(--nested-pure__enabled__default__front, var(--plain-pure__enabled__default__front));
      }
    }

    &:focus-visible {
      @include helpers.focus-inside;
    }
  }
}

@include helpers.tablet-and-up {
  .o-header {
    &__logo {
      height: 4rem;
      width: auto;
      padding: 1rem 1.3125rem;
    }
  }
}

@include helpers.large-desktop-and-up {
  .o-header {
    &__logo {

      /* finally, enough space again */
      margin-left: -1.3125rem;
    }
  }
}
