@use "../../../styles/helpers.scss";

$icon-offset-left: 1rem;
$icon-offset-top: 1rem;

.o-header {
  &__menu-trigger {
    // we cannot reuse the integrated button here since it does not support the custom animated icon
    background: var(--nested-pure__enabled__default__fill, var(--integrated-pure__enabled__default__fill));
    border: 0;
    color: var(--nested-pure__enabled__default__front, var(--integrated-pure__enabled__default__front));

    &-icon {
      position: relative;
      display: inline-block;
      width: 1em;
      height: 1em;
      box-sizing: content-box;
    }

    // this is an adaption of the ro-clickdummy's menu icon, adjusted for FROK sizing
    &-icon-bar {
      background: var(--nested-pure__enabled__default__front, var(--integrated-pure__enabled__default__front));
      position: absolute;
      top: $icon-offset-top;
      left: $icon-offset-left;
      margin: 0;
      display: block;
      width: 1.125rem;
      height: 0.0625rem;
      transition: transform helpers.$default-transition-easing helpers.$default-transition-timing, opacity helpers.$default-transition-easing helpers.$default-transition-timing;

      &:nth-child(1) {
        top: $icon-offset-top + 0.09375rem;
      }

      &:nth-child(2),
      &:nth-child(3) {
        top: $icon-offset-top + 0.46875rem;
      }

      &:nth-child(4) {
        top: $icon-offset-top + 0.84375rem;
      }
    }

    @media (hover: hover) {
      &:hover {
        color: var(--nested-pure__enabled__hovered__front, var(--integrated-pure__enabled__hovered__front));
      }

      &:hover &-icon-bar {
        background: var(--nested-pure__enabled__hovered__front, var(--integrated-pure__enabled__hovered__front));
      }
    }


    &:active {
      color: var(--nested-pure__enabled__pressed__front, var(--integrated-pure__enabled__pressed__front));
    }

    &:active &-icon-bar {
      background: var(--nested-pure__enabled__pressed__front, var(--integrated-pure__enabled__pressed__front));
    }
  }

  // this is an adaption of the ro-clickdummy's menu icon, adjusted for FROK sizing, see above
  &.-menu-open &__menu-trigger-icon-bar {
    &:nth-child(1) {
      transform: scaleX(0) translateY(0.375rem);
      opacity: 0;
    }

    &:nth-child(2) {
      transform: rotate(45deg) scaleX(1.2);
    }

    &:nth-child(3) {
      transform: rotate(-45deg) scaleX(1.2);
    }

    &:nth-child(4) {
      transform: scaleX(0) translateY(-0.375rem);
      opacity: 0;
    }
  }
}
