@use "../../../styles/helpers.scss";

@mixin supergraphic {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
  width: 100%;
  height: var(--comp__header__supergraphic-offset);
  content: '';
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-image: var(--comp__header__supergraphic);
}

@mixin supergraphic-padding {
  padding-top: var(--comp__header__supergraphic-offset);
}

@mixin supergraphic-margin {
  margin-block-start: var(--comp__header__supergraphic-offset);
}

.o-header {

  @include supergraphic-padding;
}

.o-header::before {

  @include supergraphic;
}
