/* stylelint-disable selector-class-pattern */
@use "pkg:@bosch/bdds.tokens-npm/bosch/components/header.css";
@use "../../styles/helpers.scss";
@use './parts/supergraphic.scss';
@use './parts/logo.scss';
@use './parts/search.scss';
@use './parts/menuTrigger.scss';
@use './parts/navigation.scss';

.o-header {
  max-width: 100%;

  &__top {
    display: flex;
    height: 3rem;
    justify-content: flex-end;
    align-items: center;

    /* since buttons' inner spacings are used right up to the edges of the screen
      and/or other elements, we reduce the oultine size so that the outline does
      not get cut */
    button {
      outline-offset: -0.25rem;
    }
  }

  &__meta {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3rem;
  }

  &__subbrand {
    margin-inline-start: auto;
    font-weight: bold;
  }

  &__quicklinks {
    display: flex;
    flex-wrap: nowrap;
    margin-left: auto;
  }

  /* by default, do not show buttons labels
  this means, that we also need to increase the icon padding
   to make square buttons again */

  /* stylelint-disable-next-line a11y/no-display-none */
  &__quicklinks .a-button__label,
  &__menu-trigger .a-button__label,
  &__search-open .a-button__label {
    display: none;
  }

  &__quicklinks .a-button__icon,
  &__menu-trigger .a-button__icon,
  &__search-open .a-button__icon {
    padding-right: 0.75rem;
  }

  /* the right-most button does not need the padding around the icon */
  &__top > :last-child {
    margin-right: -0.75rem;
  }

  /* when the search is open, set width to zero to prevent scrolling */
  &.-search-open &__menu-trigger {
    width: 0;
  }

  /* when the search is open, push the last child off-canvas to the right */
  &.-search-open &__top > :last-child {
    margin-right: -1rem;
  }

  /* stylelint-disable-next-line a11y/no-display-none */
  &.-menu-open &__meta,
  &.-search-open &__meta {
    display: none;
  }

  // header specific breadcrumb styles
  .m-breadcrumbs {
    display: none;
    width: 0;
  }

  @include helpers.large-desktop-and-up {
    .m-breadcrumbs {
      display: flex;
      width: auto;
    }
  }
}

@include helpers.tablet-and-up {
  .o-header {
    &__top {
      height: 6rem;
    }

    &__top > :last-child {
      margin-right: -1rem;
    }

    &.-search-open &__menu-trigger {

      /* on tablet, do not push the button off-canvas */
      width: auto;
      margin-right: -1rem;

      /* keep the menu trigger clickable */
      z-index: 1;
    }

    &.-search-open &__top > :last-child.o-header__search {
      margin-right: 0rem;
    }

    /* on tablet and above, remove the "no labels" rule */
    &__quicklinks .a-button__label,
    &__menu-trigger .a-button__label,
    &__search-open .a-button__label {
      display: block;
    }

    /* also, restore the normal icon-to-label spacing */
    &__quicklinks .a-button__icon,
    &__menu-trigger .a-button__icon,
    &__search-open .a-button__icon {
      padding-right: 0.5rem;
    }
  }
}