.a-sticker {
  display: inline-flex;
  align-items: center;
  justify-content: space-evenly;
  height: 1.5rem;
  width: auto;
  padding: 0.25rem;
  column-gap: 0.25rem;

  &.-plain-major {
    background-color: var(--nested-major__enabled__default__fill, var(--plain-major__enabled__default__fill));
    color: var(--nested-major__enabled__default__front, var(--plain-major__enabled__default__front));
  }

  &.-plain-minor {
    background-color: var(--nested-major__enabled__default__fill, var(--plain-minor__enabled__default__fill));
    color: var(--nested-major__enabled__default__front, var(--plain-minor__enabled__default__front));
  }

  &.-emphasis-00 {
    background-color: var(--nested-major__enabled__default__fill, var(--emphasis-00-major__enabled__default__fill));
    color: var(--nested-major__enabled__default__front, var(--emphasis-00-major__enabled__default__front));
  }

  &.-emphasis-01 {
    background-color: var(--nested-major__enabled__default__fill, var(--emphasis-01-major__enabled__default__fill));
    color: var(--nested-major__enabled__default__front, var(--emphasis-01-major__enabled__default__front));
  }

  &.-emphasis-02 {
    background-color: var(--nested-major__enabled__default__fill, var(--emphasis-02-major__enabled__default__fill));
    color: var(--nested-major__enabled__default__front, var(--emphasis-02-major__enabled__default__front));
  }

  &.-emphasis-03 {
    background-color: var(--nested-major__enabled__default__fill, var(--emphasis-03-major__enabled__default__fill));
    color: var(--nested-major__enabled__default__front, var(--emphasis-03-major__enabled__default__front));
  }

  &.-emphasis-04 {
    background-color: var(--nested-major__enabled__default__fill, var(--emphasis-04-major__enabled__default__fill));
    color: var(--nested-major__enabled__default__front, var(--emphasis-04-major__enabled__default__front));
  }

  &__label {

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: bold;
  }

  .a-icon {
    font-size: 1rem;
  }
}