@use "../../styles/helpers.scss";

/* stylelint-disable-next-line a11y/no-display-none */
.m-popover {
  @include helpers.box-shadow-s;

  max-width: 24rem;
  width: max-content;
  display: none;
  position: absolute;
  border-radius: var(--comp__popover__border-radius__container);

  &__content {

    background-color: inherit;
    padding: 1rem;
    position: relative;
    border-radius: var(--comp__popover__border-radius__container);
  }

  &__paragraph {
    @include helpers.size-m;
    margin-bottom: 1rem;
  }

  &__buttons {
    display: flex;
    justify-content: end;
    gap: 1rem;
  }

  &__head {
    display: flex;
    margin-bottom: 0.5rem;
    min-height: 1.5rem;

    @include helpers.size-l-bold;
  }

  .a-button--integrated {
    position: absolute;
    top: 0;
    right: 0;
  }

  :last-child {
    margin-bottom: 0;
  }

  &.-close-button &__head,
  &.-close-button &__paragraph {
    padding-right: 2rem;
  }

  &.-with-headline &__paragraph {
    padding-right: 0;
  }

  > .a-box {
    position: relative;
    box-shadow: none;
    border-radius: var(--comp__popover__border-radius__container);

    &::before,
    &::after {
      @include helpers.box-shadow-s;

      content: '';
      position: absolute;
      top: -0.6875rem;
      right: auto;
      bottom: auto;
      left: calc(50% - 0.6875rem);
      display: block;
      height: 1.375rem;
      width: 1.375rem;
      transform-origin: center;
      transform: rotate(45deg);
    }

    &::before {
      @include helpers.floating-outline;
      background-color: transparent;
    }

    &::after {
      background-color: inherit;
      box-shadow: none;
    }
  }

  // arrow variants clockwise from -top-left to -left-top
  &.-top-left {
    > .a-box {

      &::before,
      &::after {
        top: -0.6875rem;
        right: auto;
        bottom: auto;
        left: 0.8125rem;
      }
    }
  }

  &.-top-center {
    > .a-box {

      &::before,
      &::after {
        top: -0.6875rem;
        right: auto;
        bottom: auto;
        left: calc(50% - 0.6875rem);
      }
    }
  }

  &.-top-right {
    > .a-box {

      &::before,
      &::after {
        top: -0.6875rem;
        right: 0.8125rem;
        bottom: auto;
        left: auto;
      }
    }
  }

  &.-right-top {
    > .a-box {

      &::before,
      &::after {
        top: 0.8125rem;
        right: -0.6875rem;
        bottom: auto;
        left: auto;
      }
    }
  }

  &.-right-center {
    > .a-box {

      &::before,
      &::after {
        top: calc(50% - 0.6875rem);
        right: -0.6875rem;
        bottom: auto;
        left: auto;
      }
    }
  }

  &.-right-bottom {
    > .a-box {

      &::before,
      &::after {
        top: auto;
        right: -0.6875rem;
        bottom: 0.8125rem;
        left: auto;
      }
    }
  }

  &.-bottom-right {
    > .a-box {

      &::before,
      &::after {
        top: auto;
        right: 0.8125rem;
        bottom: -0.6875rem;
        left: auto;
      }
    }
  }

  &.-bottom-center {
    > .a-box {

      &::before,
      &::after {
        top: auto;
        right: auto;
        bottom: -0.6875rem;
        left: calc(50% - 0.6875rem);
      }
    }
  }

  &.-bottom-left {
    > .a-box {

      &::before,
      &::after {
        top: auto;
        right: auto;
        bottom: -0.6875rem;
        left: 0.8125rem;
      }
    }
  }

  &.-left-bottom {
    > .a-box {

      &::before,
      &::after {
        top: auto;
        right: 0;
        bottom: 0.8125rem;
        left: -0.6875rem;
      }
    }
  }

  &.-left-center {
    > .a-box {

      &::before,
      &::after {
        top: calc(50% - 0.6875rem);
        right: 0;
        bottom: 0;
        left: -0.6875rem;
      }
    }
  }

  &.-left-top {
    > .a-box {

      &::before,
      &::after {
        top: 0.8125rem;
        right: 0;
        bottom: 0;
        left: -0.6875rem;
      }
    }
  }

  &.-without-arrow {
    > .a-box {

      /* stylelint-disable a11y/content-property-no-static-value */
      &::before,
      &::after {
        content: none;
      }
    }
  }

  &.-detached {
    position: static;
    display: flex;
  }

  &.-show {
    display: flex;
  }
}