@mixin read-only-styles {
  background-color: var(--nested-pure__enabled__default__fill, var(--plain-pure__enabled__default__fill));
  color: var(--nested-pure__enabled__default__front, var(--plain-pure__enabled__default__front));
  pointer-events: none;

  &::placeholder {
    color: var(--nested-pure__enabled__default__front, var(--plain-pure__enabled__default__front));
  }
}

.a-text-area {
  position: relative;
  display: grid;
  height: 7.5rem;
  width: 100%;
  overflow: hidden;
  border-radius: var(--comp__text-field__border-radius__container);

  @media (hover: hover) {
    textarea:hover[readonly] {
      @include read-only-styles();
    }
  }

  textarea[readonly],
  textarea:active[readonly],
  textarea:focus[readonly],
  textarea:disabled[readonly] {
    @include read-only-styles();
  }

  &:has(textarea:focus-visible) {
    outline: 0.1875rem solid var(--nested-pure__enabled__default__front, var(--plain-pure__enabled__default__front));
    outline-offset: -0.1875rem;
  }

  textarea,
  &__shadow {
    color: var(--nested-minor__enabled__default__front, var(--base-minor__enabled__default__front));
    background-color: var(--nested-minor__enabled__default__fill, var(--base-minor__enabled__default__fill));
    border: none;
    border-bottom: 0.0625rem solid var(--nested-minor__enabled__default__front, var(--base-minor__enabled__default__front));
    height: 7.5rem;
    min-height: 7.5rem;
    padding: 0.75rem 1rem;
    width: 100%;
    resize: none;
    line-height: 1.5;

    &::placeholder {
      color: var(--nested-pure__enabled__default__front, var(--plain-pure__enabled__default__front));
      opacity: 0.5;
    }

    @media (hover: hover) {
      &:hover {
        background-color: var(--nested-minor__enabled__hovered__fill, var(--base-minor__enabled__hovered__fill));
        color: var(--nested-minor__enabled__hovered__front, var(--base-minor__enabled__hovered__front));
        cursor: text;
      }
    }

    &:active {
      background-color: var(--nested-minor__enabled__pressed__fill, var(--base-minor__enabled__pressed__fill));
      color: var(--nested-minor__enabled__pressed__front, var(--base-minor__enabled__pressed__front));
      cursor: text;
    }

    /* stylelint-disable-next-line a11y/no-outline-none */
    &:focus {
      background-color: var(--nested-minor__enabled__default__fill, var(--accent-minor__enabled__default__fill));
      border-bottom-color: var(--nested-minor__enabled__default__front, var(--accent-minor__enabled__default__front));
      cursor: text;
    }

    &:focus-visible {
      outline: 0.1875rem solid var(--background);
      outline-offset: -0.375rem;
    }

    &:disabled {
      border-bottom-color: var(--nested-minor__disabled__default__front, var(--base-minor__disabled__default__front));
      background-color: var(--nested-minor__disabled__default__fill, var(--base-minor__disabled__default__fill));
      color: var(--nested-minor__disabled__default__front, var(--base-minor__disabled__default__front));
      pointer-events: none;

      &::placeholder {
        color: var(--nested-minor__disabled__default__front, var(--base-minor__disabled__default__front));
      }
    }
  }

  &__shadow {
    white-space: pre-wrap;
    height: auto;
    width: 100%;
    position: absolute;
    left: -9999px;
  }

  &--dynamic-height {
    height: 100%;
    // a grid is being used to make it possible that the text area's height would be dynamic,
    // with the data attribute on the after pseudo element
    vertical-align: top;
    align-items: center;
    grid-template-columns: 100% 100%;
  }

  label {
    position: absolute;
    margin: 0.25rem 1rem auto 1rem;
    font-size: 0.75rem;
    max-width: calc(100% - 2.25rem);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    &:has(~ textarea:disabled) {
      color: var(--nested-minor__disabled__default__front, var(--base-minor__disabled__default__front));
    }

    + textarea {
      border-top: 1.375rem solid transparent;
      padding-top: 0;
    }
  }
}
