legend {
  background-color: var(--nested-pure__enabled__default__fill, var(--plain-pure__enabled__default__fill));
  color: var(--nested-pure__enabled__default__front, var(--plain-pure__enabled__default__front));
  display: block;
  font-weight: bold;
  margin-bottom: 1rem;

  &:first-letter {
    text-transform: capitalize;
  }
}
