@use "../../styles/helpers.scss";

/* stylelint-disable no-descending-specificity */
.a-tile {

  .a-tile__link,
  &:not(&:has(.a-tile__link)) {
    padding: 2rem;
  }

  &:not(.-flat),
  &:not(.-flat) .a-tile__link {
    border-radius: var(--comp__tile__border-radius__container);
  }

  .a-tile__link {
    display: block;
    text-decoration: none;
    color: var(--nested-major__enabled__default__front, var(--emphasis-00-major__enabled__default__front));
    background: var(--nested-major__enabled__default__fill, var(--emphasis-00-major__enabled__default__fill));

    @media (hover: hover) {
      &:hover {
        color: var(--nested-major__enabled__hovered__front, var(--emphasis-00-major__enabled__hovered__front));
        background: var(--nested-major__enabled__hovered__fill, var(--emphasis-00-major__enabled__hovered__fill));
      }
    }

    &:active {
      color: var(--nested-major__enabled__pressed__front, var(--emphasis-00-major__enabled__pressed__front));
      background: var(--nested-major__enabled__pressed__fill, var(--emphasis-00-major__enabled__pressed__fill));
    }

    &:focus-visible {
      @include helpers.focus-outside;
    }
  }

  &:not(.-flat) .a-tile__link:focus-visible {
    --focus-border-radius: var(--comp__tile__border-radius__container);
  }

  // spacing sizes
  &.-small .a-tile__link,
  &.-small:not(&:has(.a-tile__link)) {
    padding: 1rem;
  }

  &.-flat .a-tile__link,
  &.-flat:not(&:has(.a-tile__link)) {
    padding: 0;
  }

  // Integrated Interactive
  &.-integrated-major .a-tile__link {
    color: var(--nested-major__enabled__default__front, var(--integrated-major__enabled__default__front));
    background: var(--nested-major__enabled__default__fill, var(--integrated-major__enabled__default__fill));

    @media (hover: hover) {
      &:hover {
        color: var(--nested-major__enabled__hovered__front, var(--integrated-major__enabled__hovered__front));
        background: var(--nested-major__enabled__hovered__fill, var(--integrated-major__enabled__hovered__fill));
      }
    }

    &:active {
      color: var(--nested-major__enabled__pressed__front, var(--integrated-major__enabled__pressed__front));
      background: var(--nested-major__enabled__pressed__fill, var(--integrated-major__enabled__pressed__fill));
    }
  }

  &.-integrated-minor .a-tile__link {
    color: var(--nested-minor__enabled__default__front, var(--integrated-minor__enabled__default__front));
    background: var(--nested-minor__enabled__default__fill, var(--integrated-minor__enabled__default__fill));

    @media (hover: hover) {
      &:hover {
        color: var(--nested-minor__enabled__hovered__front, var(--integrated-minor__enabled__hovered__front));
        background: var(--nested-minor__enabled__hovered__fill, var(--integrated-minor__enabled__hovered__fill));
      }
    }

    &:active {
      color: var(--nested-minor__enabled__pressed__front, var(--integrated-minor__enabled__pressed__front));
      background: var(--nested-minor__enabled__pressed__fill, var(--integrated-minor__enabled__pressed__fill));
    }
  }

  &.-integrated-pure .a-tile__link {
    color: var(--nested-pure__enabled__default__front, var(--integrated-pure__enabled__default__front));
    background: transparent;

    @media (hover: hover) {
      &:hover {
        color: var(--nested-pure__enabled__hovered__front, var(--integrated-pure__enabled__hovered__front));
      }
    }

    &:active {
      color: var(--nested-pure__enabled__pressed__front, var(--integrated-pure__enabled__pressed__front));
    }
  }

  // Plain Interactive
  &.-plain-major .a-tile__link {
    color: var(--nested-major__enabled__default__front, var(--plain-major__enabled__default__front));
    background: var(--nested-major__enabled__default__fill, var(--plain-major__enabled__default__fill));

    @media (hover: hover) {
      &:hover {
        color: var(--nested-major__enabled__hovered__front, var(--plain-major__enabled__hovered__front));
        background: var(--nested-major__enabled__hovered__fill, var(--plain-major__enabled__hovered__fill));
      }
    }

    &:active {
      color: var(--nested-major__enabled__pressed__front, var(--plain-major__enabled__pressed__front));
      background: var(--nested-major__enabled__pressed__fill, var(--plain-major__enabled__pressed__fill));
    }
  }

  &.-plain-minor .a-tile__link {
    color: var(--nested-minor__enabled__default__front, var(--plain-minor__enabled__default__front));
    background: var(--nested-minor__enabled__default__fill, var(--plain-minor__enabled__default__fill));

    @media (hover: hover) {
      &:hover {
        color: var(--nested-minor__enabled__hovered__front, var(--plain-minor__enabled__hovered__front));
        background: var(--nested-minor__enabled__hovered__fill, var(--plain-minor__enabled__hovered__fill));
      }
    }

    &:active {
      color: var(--nested-minor__enabled__pressed__front, var(--plain-minor__enabled__pressed__front));
      background: var(--nested-minor__enabled__pressed__fill, var(--plain-minor__enabled__pressed__fill));
    }
  }

  &.-plain-pure .a-tile__link {
    color: var(--nested-pure__enabled__default__front, var(--plain-pure__enabled__default__front));
    background: var(--nested-pure__enabled__default__fill, var(--plain-pure__enabled__default__fill));

    @media (hover: hover) {
      &:hover {
        color: var(--nested-pure__enabled__hovered__front, var(--plain-pure__enabled__hovered__front));
        background: var(--nested-pure__enabled__hovered__fill, var(--plain-pure__enabled__hovered__fill));
      }
    }

    &:active {
      color: var(--nested-pure__enabled__pressed__front, var(--plain-pure__enabled__pressed__front));
      background: var(--nested-pure__enabled__pressed__fill, var(--plain-pure__enabled__pressed__fill));
    }
  }

  // Emphasis Interactive
  &.-emphasis-00 .a-tile__link {
    color: var(--nested-major__enabled__default__front, var(--emphasis-00-major__enabled__default__front));
    background: var(--nested-major__enabled__default__fill, var(--emphasis-00-major__enabled__default__fill));

    @media (hover: hover) {
      &:hover {
        color: var(--nested-major__enabled__hovered__front, var(--emphasis-00-major__enabled__hovered__front));
        background: var(--nested-major__enabled__hovered__fill, var(--emphasis-00-major__enabled__hovered__fill));
      }
    }

    &:active {
      color: var(--nested-major__enabled__pressed__front, var(--emphasis-00-major__enabled__pressed__front));
      background: var(--nested-major__enabled__pressed__fill, var(--emphasis-00-major__enabled__pressed__fill));
    }
  }

  &.-emphasis-01 .a-tile__link {
    color: var(--nested-major__enabled__default__front, var(--emphasis-01-major__enabled__default__front));
    background: var(--nested-major__enabled__default__fill, var(--emphasis-01-major__enabled__default__fill));

    @media (hover: hover) {
      &:hover {
        color: var(--nested-major__enabled__hovered__front, var(--emphasis-01-major__enabled__hovered__front));
        background: var(--nested-major__enabled__hovered__fill, var(--emphasis-01-major__enabled__hovered__fill));
      }
    }

    &:active {
      color: var(--nested-major__enabled__pressed__front, var(--emphasis-01-major__enabled__pressed__front));
      background: var(--nested-major__enabled__pressed__fill, var(--emphasis-01-major__enabled__pressed__fill));
    }
  }

  &.-emphasis-02 .a-tile__link {
    color: var(--nested-major__enabled__default__front, var(--emphasis-02-major__enabled__default__front));
    background: var(--nested-major__enabled__default__fill, var(--emphasis-02-major__enabled__default__fill));

    @media (hover: hover) {
      &:hover {
        color: var(--nested-major__enabled__hovered__front, var(--emphasis-02-major__enabled__hovered__front));
        background: var(--nested-major__enabled__hovered__fill, var(--emphasis-02-major__enabled__hovered__fill));
      }
    }

    &:active {
      color: var(--nested-major__enabled__pressed__front, var(--emphasis-02-major__enabled__pressed__front));
      background: var(--nested-major__enabled__pressed__fill, var(--emphasis-02-major__enabled__pressed__fill));
    }
  }

  &.-emphasis-03 .a-tile__link {
    color: var(--nested-major__enabled__default__front, var(--emphasis-03-major__enabled__default__front));
    background: var(--nested-major__enabled__default__fill, var(--emphasis-03-major__enabled__default__fill));

    @media (hover: hover) {
      &:hover {
        color: var(--nested-major__enabled__hovered__front, var(--emphasis-03-major__enabled__hovered__front));
        background: var(--nested-major__enabled__hovered__fill, var(--emphasis-03-major__enabled__hovered__fill));
      }
    }

    &:active {
      color: var(--nested-major__enabled__pressed__front, var(--emphasis-03-major__enabled__pressed__front));
      background: var(--nested-major__enabled__pressed__fill, var(--emphasis-03-major__enabled__pressed__fill));
    }
  }

  &.-emphasis-04 .a-tile__link {
    color: var(--nested-major__enabled__default__front, var(--emphasis-04-major__enabled__default__front));
    background: var(--nested-major__enabled__default__fill, var(--emphasis-04-major__enabled__default__fill));

    @media (hover: hover) {
      &:hover {
        color: var(--nested-major__enabled__hovered__front, var(--emphasis-04-major__enabled__hovered__front));
        background: var(--nested-major__enabled__hovered__fill, var(--emphasis-04-major__enabled__hovered__fill));
      }
    }

    &:active {
      color: var(--nested-major__enabled__pressed__front, var(--emphasis-04-major__enabled__pressed__front));
      background: var(--nested-major__enabled__pressed__fill, var(--emphasis-04-major__enabled__pressed__fill));
    }
  }
}