@use "../../styles/helpers.scss";

/* stylelint-disable no-descending-specificity */
/* stylelint-disable a11y/content-property-no-static-value */

@mixin thumb-base {
  border-radius: 50%;
  height: 1.5rem;
  margin-top: -0.625rem;
  position: relative;
  width: 1.5rem;
  z-index: 999;
  cursor: grab;
}

.a-slider {
  --slider-percentage: 50; // This initial value will be overwritten by JS.

  height: 3rem;
  width: auto;

  div {
    display: flex;
    position: relative;
    width: 100%;
    flex: 1 1 auto;
    margin: 0.5rem 0.75rem;
  }

  display: flex;
  align-items: center;

  input {
    appearance: none;
    background: transparent;
    height: 1.5rem;
    width: 100%;
    -webkit-appearance: none;
    outline: 0;
    position: relative;

    &::before,
    &::after {
      position: absolute;
      content: ' ';
      left: 0;
      right: 0;
      height: 0.25rem;
      top: 0.625rem; // (containerHeight / 2) - (railHeight / 2) = (1.5rem / 2) - (0.25rem /2) = 0.625rem
    }

    // Even if the styling is the same, custom colors for Firefox need to be separated from Chrome.

    // Styling for the part not in progress of the slider.
    // Chrome
    &::before {
      background: var(--nested-minor__enabled__default__fill, var(--base-minor__enabled__default__fill));
    }

    // Firefox
    &::-moz-range-track {
      background: var(--nested-minor__enabled__default__fill, var(--base-minor__enabled__default__fill));
      height: 0.25rem;
    }

    // Safari
    &::-webkit-slider-runnable-track {
      background: linear-gradient(to right,
          var(--nested-major__enabled__default__fill, var(--accent-major__enabled__default__fill)) 0%,
          var(--nested-major__enabled__default__fill, var(--accent-major__enabled__default__fill)) calc(var(--slider-percentage) * 1%),
          var(--nested-minor__enabled__default__fill, var(--base-minor__enabled__default__fill)) calc(var(--slider-percentage) * 1%),
          var(--nested-minor__enabled__default__fill, var(--base-minor__enabled__default__fill)) 100%);
      height: 0.25rem;
    }

    // Styling for the part in progress of the slider.
    // Chrome
    &::after,
    &::-webkit-slider-thumb {
      background: var(--nested-major__enabled__default__fill, var(--accent-major__enabled__default__fill));
      width: calc(var(--slider-percentage) * 1%);
    }

    // Firefox
    &::-moz-range-progress,
    &::-moz-range-thumb {
      background: var(--nested-major__enabled__default__fill, var(--accent-major__enabled__default__fill));
      height: 0.25rem;
    }

    @media (hover: hover) {
      &:hover {

        // Chrome
        &::after,
        &::-webkit-slider-thumb {
          background: var(--nested-major__enabled__hovered__fill, var(--accent-major__enabled__hovered__fill));
        }

        // Firefox
        &::-moz-range-progress,
        &::-moz-range-thumb {
          background: var(--nested-major__enabled__hovered__fill, var(--accent-major__enabled__hovered__fill));
        }

        // track color Chrome
        &::before {
          background: var(--nested-minor__enabled__hovered__fill, var(--base-minor__enabled__hovered__fill));
        }

        // track color Firefox
        &::-moz-range-track {
          background: var(--nested-minor__enabled__hovered__fill, var(--base-minor__enabled__hovered__fill));
          height: 0.25rem;
        }

        // track color Safari
        &::-webkit-slider-runnable-track {
          background: linear-gradient(to right,
              var(--nested-major__enabled__hovered__fill, var(--accent-major__enabled__hovered__fill)) 0%,
              var(--nested-major__enabled__hovered__fill, var(--accent-major__enabled__hovered__fill)) calc(var(--slider-percentage) * 1%),
              var(--nested-minor__enabled__hovered__fill, var(--base-minor__enabled__hovered__fill)) calc(var(--slider-percentage) * 1%),
              var(--nested-minor__enabled__hovered__fill, var(--base-minor__enabled__hovered__fill)) 100%);
        }
      }
    }

    &:active {

      // Chrome
      &::after,
      &::-webkit-slider-thumb {
        background: var(--nested-major__enabled__pressed__fill, var(--accent-major__enabled__pressed__fill));
        cursor: grabbing;
      }

      // Firefox
      &::-moz-range-progress,
      &::-moz-range-thumb {
        background: var(--nested-major__enabled__pressed__fill, var(--accent-major__enabled__pressed__fill));
        cursor: grabbing;
      }

      // track color Chrome
      &::before {
        background: var(--nested-minor__enabled__pressed__fill, var(--base-minor__enabled__pressed__fill));
      }

      // track color Firefox
      &::-moz-range-track {
        background: var(--nested-minor__enabled__pressed__fill, var(--base-minor__enabled__pressed__fill));
        height: 0.25rem;
      }

      // track color for Safari
      // track color Safari
      &::-webkit-slider-runnable-track {
        background: linear-gradient(to right,
            var(--nested-major__enabled__pressed__fill, var(--accent-major__enabled__pressed__fill)) 0%,
            var(--nested-major__enabled__pressed__fill, var(--accent-major__enabled__pressed__fill)) calc(var(--slider-percentage) * 1%),
            var(--nested-minor__enabled__pressed__fill, var(--base-minor__enabled__pressed__fill)) calc(var(--slider-percentage) * 1%),
            var(--nested-minor__enabled__pressed__fill, var(--base-minor__enabled__pressed__fill)) 100%);
      }
    }

    &:disabled {

      &::after,
      &::-webkit-slider-thumb {
        background: var(--nested-minor__disabled__default__fill, var(--accent-major__disabled__default__fill));
      }

      &::-moz-range-thumb,
      &::-moz-range-progress {
        background: var(--nested-minor__disabled__default__fill, var(--accent-major__disabled__default__fill));
      }

      // track color Chrome
      &::before {
        background: var(--nested-minor__disabled__default__fill, var(--accent-minor__disabled__default__fill));
      }

      // track color Firefox
      &::-moz-range-track {
        background: var(--nested-minor__disabled__default__fill, var(--accent-minor__disabled__default__fill));
        height: 0.25rem;
      }

      // track color Safari
      // track color Safari
      &::-webkit-slider-runnable-track {
        background: linear-gradient(to right,
            var(--nested-major__disabled__default__fill, var(--accent-major__disabled__default__fill)) 0%,
            var(--nested-major__disabled__default__fill, var(--accent-major__disabled__default__fill)) calc(var(--slider-percentage) * 1%),
            var(--nested-minor__disabled__default__fill, var(--base-minor__disabled__default__fill)) calc(var(--slider-percentage) * 1%),
            var(--nested-minor__disabled__default__fill, var(--base-minor__disabled__default__fill)) 100%);
      }
    }

    // Chrome
    &::-webkit-slider-thumb {
      @include thumb-base;

      -webkit-appearance: none;
    }

    &::-webkit-slider-runnable-track {
      height: 0.25rem;
    }

    // Firefox
    &::-moz-range-thumb {
      @include thumb-base;

      border: 0;
    }

    &:focus-visible {

      // Chrome
      &::-webkit-slider-thumb {
        @include helpers.focus-outside;
      }

      // Firefox
      &::-moz-range-thumb {
        @include helpers.focus-outside;
      }
    }
  }

  .a-tooltip {
    @include helpers.floating-outline;
    text-align: center;
    position: absolute;
    bottom: 2.25rem;
    left: calc(50% - 1.9375rem);
    position: absolute;
    text-align: center;
    visibility: hidden;
    white-space: nowrap;
  }

  label {
    font-size: 1rem;
    flex: 0 1 auto;
  }

  &.a-slider--labels-on-top {
    flex-wrap: wrap;

    // the labels should not shrink below 50%, but can grow as much as they want
    >label {
      order: 1;
      flex: 1 0 50%;
    }

    // the div containing the input should not shrink below 100%, and should be
    // the third element, visually
    // remove the margins around the input so that it aligns with the label's edges
    >div,
    >input {
      order: 3;
      flex: 1 0 100%;
      margin-left: 0;
      margin-right: 0;
    }

    // the label after the input container should be the second element (visually),
    // and the text should right-align
    >div+label,
    >input+label {
      order: 2;
      text-align: right;
    }

    >input {
      margin: 0.5rem 0;
    }
  }

  &--vertical {
    transform: rotate(270deg);

    &:has(label) {
      padding-right: 1.75rem;
    }

    label {
      position: absolute;
      left: 8.5625rem;
      top: -1.75rem;
      transform: rotate(90deg);
      transform-origin: left bottom;
    }

    .a-tooltip {
      bottom: -3.8rem;
      display: flex;
      transform: rotate(90deg);
    }
  }

  &--unitless .a-tooltip {
    left: calc(50% - 1.625rem);
  }
}